$section_space: 30px;
$start_size: 0;
$start_size_2: 10;
$half: 50%;
$full: 100%;
$main_font_size: 12px;

// colors
$main_color: #403279;
$transparent_main: #40327966;
$main_color2:#17365f;
$wh: #fff;
$b: #000;
$gray: #979797 ;
$main_gray:#e5e5e5;
$border-color:   #dee2e6 ;

$ltr: 'html[lang="en"]';
$rtl: 'html[lang="ar"]';
